body {
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
}

h1 {
  text-align: center;
}

#to-do-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 600px;
  border: 1px solid black;
  background-color: #fff;
  padding: 10px 0 0 0;
}

.line {
  width: 100%;
  border-bottom: 1px solid #e2dfdf;
  margin: 0 0 !important;
}

#to-do-list > * {
  align-self: flex-start;
  margin: 10px;
}

.header {
  width: 92%;
  display: flex;
  justify-content: space-between;
}

.new-task {
  width: 92%;
  display: flex;
  justify-content: space-between;
}

textarea {
  border: 0;
  width: 400px;
  padding: 0;
  margin: 0;
  height: 15px;
}

textarea:focus {
  outline: none;
}

.list-container {
  width: 100%;
  margin: 0 !important;
}

.list {
  width: 91%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.list:focus {
  background-color: rgb(248, 248, 178);
}

.clear {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 187, 187);
  margin: 0 !important;
  cursor: pointer;
}
